body{
  background-color: bisque;
}
header{
  background-color: blanchedalmond;
  text-align: right;
}
footer{
  position: relative;
  width: 100%;
  height: 20px;
  background-color: aquamarine;
  text-align: start;
}
.navi{
  
  position: absolute;
  top: 2%;
  right: 5%;
  cursor: pointer;
}
h3{
  font-weight: 40em;
  color:brown;
  width: 100%;
  background-color: bisque;
  padding: 5% 10% 5% 10%;
  border-radius: 10px;

}
  


